.termsOfUse {
  padding: 5rem 0 5rem 0;
  text-align: left;
}

.termsOfUse .container {
  box-sizing: border-box;
  padding: 0 15px;
  width: 80%;
  margin: 0 auto;
  color: #777;
}

.termsOfUse .container h1 {
  font-size: 36px;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  line-height: 1.6em;
  margin: 0;
}
.termsOfUse .container h2 {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  line-height: 1.6em;
  font-size: 24px;
  margin: 0;
}

.termsOfUse .container p {
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.6em;
  font-size: 16px;
  margin: 0 0 10px;
}
