.privacy-policy {
  padding: 6rem 0 9rem 0;
  text-align: left;
}

.privacy-policy .container {
  margin: 0 auto;
  padding: 0 1.5rem;
  width: 80%;
  height: auto;
  color: #777;
}

.privacy-policy h1,
.privacy-policy h2 {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  line-height: 1.6rem;
}

.privacy-policy h1 {
  font-size: 3.6rem;
}

.privacy-policy h2 {
  font-size: 2.4rem;
}

.privacy-policy ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.privacy-policy p {
  line-height: 1.6em;
  font-size: 1.6rem;
  margin: 0 0 1rem;
}

.privacy-policy li {
  list-style: none;
  line-height: 1.6em;
  font-size: 1.6rem;
  font-weight: 400;
}

.privacy-policy a {
  text-decoration: none;
  color: #a9d15a;
  cursor: pointer;
}
