.certificates-and-documents {
  padding: 2rem 0;
  width: 80%;
  margin: auto;
  text-align: left;
  font-size: 1.6rem;
  color: var(--secondary-color--);
}

.certificates-and-documents h4,
.certificates-and-documents h5 {
  font-weight: 500;
}

.certificates-and-documents h4 {
  margin: 1rem 0;
}

.certificates-and-documents h5,
.certificates-and-documents p {
  margin: 0;
}
