* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Source Sans 3", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --primary-color--: #232323;
  --second-primary-color--: #323232;
  --secondary-color--: #777777;
  --primary-green--: #a9d15a;
}
